@charset "UTF-8";
// ---------------------------------------------------------------
//  form
// ---------------------------------------------------------------
.c-form {
  //margin-bottom: 30px;
  &_btn {
    margin-top: 40px;
    @include mqMd {
      margin-top: 30px;
    }
  }
}

// ---------------------------------------------------------------
//  input
// ---------------------------------------------------------------
.c-input {
  background: #f5f5f5;
  padding: 0 1em;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
  -js-display: flex;
  display: flex;
  align-items: center;
  min-width: 0; // Firefoxでflex-basis:0の時にはみ出る対策
  &.-size_full {
    width: 100%;
    height: 100%;
  }
  &.-size_large {
    height: 60px;
    width: 100%;
    @include mqMd {
      height: 36px;
    }
  }
  &.-size_medium {
    height: 40px;
    width: 100%;
  }
  &.-size_small {
    height: 36px;
    width: 100%;
  }
}

.c-input--white {
  background: #fff;
  border: 1px solid #e2e2e2;
}

.c-input.is-disable {
  pointer-events: none;
  box-shadow: none;
  color: #ccc;
}

// ---------------------------------------------------------------
//  textarea
// ---------------------------------------------------------------
.c-textarea {
  @extend .c-input;
  align-items: flex-start;
  resize: vertical;
  width: 100%;
  min-height: 10em;
  padding: 1em;
}

// ---------------------------------------------------------------
//  select
// ---------------------------------------------------------------
.c-select-wrap {
  position: relative;
  display: block;
  width: 100%;
  &:before {
    content: "";
    width: 40px;
    height: 100%;
    background: $color-theme;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 6px 4px 0 4px;
    border-top-color: #fff;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    pointer-events: none;
    z-index: 2;
  }
}

.c-select {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 1em;
  transition: border-color 0.6s $ease-cubic;
  cursor: pointer;
  background: #f5f5f5;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
  &:focus {
    border-color: darken(#000, 10%);
  }
  &.-size_full {
    width: 100%;
    height: 100%;
  }
  &.-size_large {
    height: 60px;
    width: 100%;
  }
  &.-size_medium {
    height: 40px;
    width: 100%;
  }
  &.-size_small {
    height: 36px;
    width: 100%;
  }
  &::-ms-expand {
    display: none;
  }
}

.c-select--white {
  background: #fff;
  border: 1px solid #e2e2e2;
}

// ---------------------------------------------------------------
//  radio
// ---------------------------------------------------------------
.c-radio {
  position: relative;
  display: inline-block;
  padding: 0 5px 0 23px;
  vertical-align: middle;
  cursor: pointer;
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 50%;
    background: #fff;
  }
  &:before {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #f5f5f5;
  }
  &:after {
    width: 8px;
    height: 8px;
    left: 4px;
    margin-top: -6px;
    border: none;
    transition: background 0.3s $ease-cubic;
    background: transparent;
    input[type="radio"]:checked + & {
      background: $color-accent02;
    }
  }
  &--white {
    &:before {
      background: #fff;
    }
  }
}

.c-radioList {
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  &_item {
    margin-right: 25px;
    line-height: 2;
    @include mqMd {
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.c-radioList--vertical {
  flex-direction: column;
  align-items: flex-start;
  .c-radioList_item {
    width: 100%;
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ---------------------------------------------------------------
//  check
// ---------------------------------------------------------------
.c-checkbox {
  transition: background-color 0.3s $ease-cubic;
  position: relative;
  display: inline-block;
  padding: 5px 5px 5px 33px;
  vertical-align: middle;
  cursor: pointer;
  &:after {
    transition: border-color 0.3s $ease-cubic;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    content: "";
    background: $color-gray-light02;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
    input[type="checkbox"]:checked + & {
      border-color: darken(#000, 10%);
    }
  }
  &:before {
    transition: opacity 0.3s $ease-cubic;
    position: absolute;
    top: 50%;
    left: 8px;
    display: block;
    margin-top: -8px;
    width: 6px;
    height: 14px;
    border-right: 2px solid $color-accent02;
    border-bottom: 3px solid $color-accent02;
    content: "";
    opacity: 0;
    transform: rotate(50deg);
    z-index: 1;
    input[type="checkbox"]:checked + & {
      opacity: 1;
    }
  }
  &--itself {
    padding: 0;
    width: 20px;
  }
  &--white {
    &:after {
      background: #fff;
    }
  }
  &--small {
    padding: 0 0 0 25px;
    &:after {
      margin-top: -10px;
      width: 16px;
      height: 16px;
    }
    &:before {
      width: 5px;
      height: 12px;
      left: 6px;
    }
  }
}

.c-checkList {
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  &_item {
    margin-right: 25px;
    line-height: 2;
    @include mqMd {
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.c-checkList--vertical {
  flex-direction: column;
  align-items: flex-start;
  .c-checkList_item {
    width: 100%;
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ---------------------------------------------------------------
//  file
// ---------------------------------------------------------------
.c-file {
  -js-display: flex;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  // width: 100%;
  &_data {
    display: none;
  }
  &_btn {
    margin-right: 15px;
    height: 100%;
    width: 120px;
    height: 40px;
  }
  &_txt {
    width: 100%;
    flex: 1;
    pointer-events: none;
    background: #f5f5f5;
    height: 100%;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  &_delete {
    width: 80px;
    height: 40px;
    flex: none;
    @include mqMd {
      display: block;
    }
    @include mqMd {
      width: 100%;
      height: 40px;
      flex: none;
      margin: 10px 0 0;
    }
  }
}

_:-ms-lang(x),
_::-webkit-meter-bar,
.c-file_delete {
  margin: 15px 0 0 !important;
}
