@charset "UTF-8";
.c-list {
  & > li {
    //margin-bottom: 15px;
    line-height: 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-list-disc {
  padding-left: 8px;
  & > li {
    position: relative;
    padding-left: 10px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $font-color;
      position: absolute;
      left: 0;
      top: 11px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include mqMd {
    & > li {
      margin-bottom: 5px;
    }
  }
  @include mqMd {
    @include fontSize($font-size-sp);
    padding-left: 8px;
    & > li {
      // padding-left: 6px;
      margin-bottom: 3px;
      &:before {
        width: 3px;
        height: 3px;
        top: 12px;
      }
    }
  }
}

.c-list-disc--orange {
  & > li {
    color: $color-accent02;
    &:before {
      background: $color-accent02;
    }
  }
}

.c-list-decimal {
  padding-left: 2em;
  @include mqMd {
    padding-left: 15px;
  }
  & > li {
    list-style: decimal;
    // > *{
    //   margin-top:1em;
    // }
  }
}

.c-list-roman {
  padding-left: 1em;
  @include mqMd {
    padding-left: 15px;
  }
  & > li {
    list-style: lower-roman;
  }
}
