@charset "UTF-8";
.c-mandatory {
  color: #fff;
  @include fontSize(1.2);
  background: $color-alert;
  padding: 0.1em 0.4em;
  border-radius: 5px;
  @include mqMd {
    @include fontSize($font-size-sp);
  }
}
