@charset "UTF-8";
.c-section {
  // padding: 35px 0;
  & ~ & {
    margin-top: 35px;
  }
  @include mqMd {
    //padding: 25px 0;
  }
  &_ttl {
    margin-bottom: 30px;
    @include mqMd {
      margin-bottom: 15px;
    }
  }
  &_lead {
    line-height: 2;
    margin-bottom: 30px;
    @include mqMd {
      margin-bottom: 15px;
    }
  }
  &_body {
    > * ~ * {
      margin-top: 30px;
      @include mqMd {
        margin-top: 15px;
      }
    }
  }
  > .c-section {
    margin-top: 50px;
    &:first-child {
      margin-top: 0;
    }
    @include mqMd {
      margin-top: 15px;
    }
  }
}

.c-section--mbLarge {
  margin-bottom: 100px;
  @include mqMd {
    margin-bottom: 50px;
  }
}

.c-section--child {
  margin-bottom: 30px;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }
  @include mqMd {
    padding: 0;
  }
  .c-section_ttl {
    margin-bottom: 15px;
  }
  .c-section_lead {
    margin-bottom: 15px;
  }
}

.c-section--theme {
  background: $color-theme-light;
  padding: 35px 0;
  @include mqMd {
    padding: 25px 0;
  }
}

.c-section--gray {
  background: $color-section;
  padding: 35px 0;
  & ~ & {
    //margin-top: 0;
  }
  @include mqMd {
    padding: 25px 0;
  }
}

.c-section--pt0 {
  padding-top: 0;
  @include mqMd {
    padding-top: 0;
  }
}

.c-section--ptb0 {
  padding-top: 0;
  padding-bottom: 0;
  @include mqMd {
    padding-top: 0;
    padding-bottom: 0;
  }
  @include mqMd {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.c-section--ptb0--sm {
  @include mqMd {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.c-section--border--sm {
  @include mqMd {
    border-top: 2px solid $color-theme;
    border-bottom: 2px solid $color-theme;
    margin-top: 0 !important;
    padding: 25px 0;
  }
}
