@charset "UTF-8";
.c-successMessage {
  color: $color-theme;
  border: 2px solid $color-theme;
  padding: 15px 30px;
  background: #fff;
  margin-bottom: 30px;
  & > li {
    padding-left: 20px;
    position: relative;
    &:before {
      transition: opacity .3s $ease-cubic;
      position: absolute;
      top: 50%;
      left: 3px;
      display: block;
      margin-top: -9px;
      width: 6px;
      height: 14px;
      border-right: 2px solid $color-theme;
      border-bottom: 3px solid $color-theme;
      content: '';
      transform: rotate(50deg);
      z-index: 1;
    }
    & ~ li {
      margin-top: .5em;
    }
  }
}
