@charset "UTF-8";
.c-ttl {
  font-size: 80px;
  font-weight: 900;

  &__txt {
    letter-spacing: 0.03em;
    font-size: 64px;
    margin-bottom: -10px;

    @include mqSm {
      font-size: 10vw;
      line-height: 1.5;
    }
  }

  &__sub {
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: -5px;

    @include mqSm {
      font-size: 15px;
      margin-top: 15px;
    }
  }

  &__pink {
    color: $color-pink;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 45px;

    @include mqSm {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }
}
