<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body>
    <!-- <div class="js-start"></div> -->
    <%- include('../components/_header'); %> <%- include('../components/_gnav');
    %>
    <div class="wrapper" id="luxy">
      <main class="l-main">
        <section class="p-value">
          <div class="p-value-inner">
            <div class="p-value-head">
              <h1 class="p-value-head__heading">
                <span
                  class="p-value-head__heading--lead luxy-el"
                  data-speed-y="-5"
                  ><img src="image/img_value_finc.png" alt="FiNC Value"
                /></span>
                <div class="p-value-head__heading--box">
                  <span
                    class="p-value-head__heading--ttl luxy-el"
                    data-speed-y="-4"
                  >
                    <picture>
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value1.png"
                      />
                      <img src="image/sp/img_kv_value1.png" alt="test" />
                    </picture>
                    <picture class="p-txt-cover delay07">
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value1_cover.png"
                      />
                      <img src="image/sp/img_kv_value1_cover.png" alt="test" />
                    </picture>
                  </span>
                  <span
                    class="p-value-head__heading--ttl luxy-el"
                    data-speed-y="-3"
                  >
                    <picture>
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value2.png"
                      />
                      <img src="image/sp/img_kv_value2.png" alt="test" />
                    </picture>
                    <picture class="p-txt-cover delay08">
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value2_cover.png"
                      />
                      <img src="image/sp/img_kv_value2_cover.png" alt="test" />
                    </picture>
                  </span>
                  <span
                    class="p-value-head__heading--ttl luxy-el"
                    data-speed-y="-2"
                  >
                    <picture>
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value3.png"
                      />
                      <img src="image/sp/img_kv_value3.png" alt="test" />
                    </picture>
                    <picture class="p-txt-cover delay09">
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value3_cover.png"
                      />
                      <img src="image/sp/img_kv_value3_cover.png" alt="test" />
                    </picture>
                  </span>
                  <span class="p-value-head__heading--ttl">
                    <picture>
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value4.png"
                      />
                      <img src="image/sp/img_kv_value4.png" alt="test" />
                    </picture>
                    <picture class="p-txt-cover delay10">
                      <source
                        media="(min-width:769px)"
                        srcset="image/img_kv_value4_cover.png"
                      />
                      <img src="image/sp/img_kv_value4_cover.png" alt="test" />
                    </picture>
                  </span>
                  <span class="p-value-head__heading--ttl u-nonePc">
                    <img src="image/sp/img_kv_value5.png" alt="test" />
                    <img
                      src="image/sp/img_kv_value5_cover.png"
                      alt="test"
                      class="p-txt-cover delay10"
                    />
                  </span>
                </div>
              </h1>
            </div>
            <div class="p-value-body">
              <div class="p-value-body__box luxy-el" data-speed-y="3">
                <h2 class="p-value-body__heading">Recruiting Statement</h2>
                <p class="p-value-body__txt">
                  FiNC
                  Technologiesは予防ヘルスケア×AI（人工知能）に特化したヘルステックベンチャーです。<br />
                  私たちは、日本だけでなく世界中で問題視されている健康に関する課題を、<br
                    class="u-brPc"
                  />
                  最先端のテクノロジーを駆使して<br class="u-brPc" />
                  「手間なく」「ラクに」「楽しく」「安価で」「個人に最適」なサービスをお届けすることで解決し、<br
                    class="u-brPc"
                  />
                  「一生に一度のかけがえのない人生の成功をサポートする」というビジョンを実現したいと考えています。
                </p>
                <p class="p-value-body__txt">
                  まだ、どの企業も成し遂げていないヘルスケア・ウェルネスプラットフォームを作り、<br
                    class="u-brPc"
                  />
                  世界を代表するリーディングカンパニーとなることで、<br
                    class="u-brPc"
                  />
                  日本だけでなく遠く離れた世界中の人々にココロとカラダの健康を届けます。
                </p>
              </div>
              <div class="p-value-body__bg luxy-el" data-speed-y="3"></div>
              <div class="p-value-body__gray luxy-el" data-speed-y="1"></div>
            </div>
            <div class="p-value-side js-anime-value">
              <div class="p-value-side__cover luxy-el" data-speed-y="-18">
                <img src="image/img_value_text_cover.png" alt="" />
              </div>
              <div class="p-value-side__inner luxy-el" data-speed-y="10">
                <!-- Swiper -->
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div
                      class="swiper-slide"
                      style="background-image: url(image/img_value1.jpg);"
                    ></div>
                    <div
                      class="swiper-slide"
                      style="background-image: url(image/img_value2.jpg);"
                    ></div>
                    <div
                      class="swiper-slide"
                      style="background-image: url(image/img_value3.jpg);"
                    ></div>
                    <div
                      class="swiper-slide"
                      style="background-image: url(image/img_value4.jpg);"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-value-bar"></div>
          </div>
          <div></div>
        </section>
        <section class="c-panel p-box-center p-mission">
          <div class="c-container">
            <div class="p-mission-inner">
              <h2 class="c-panel-head">
                <span class="c-ttl__pink">Mission</span>
                <span class="c-ttl__txt"
                  >すべての人に<br class="u-brSp" />パーソナルAIを</span
                >
              </h2>
              <p class="c-panel-body">
                AI（人工知能）を活用して、歩数・体重・睡眠・食事等の生活習慣やお悩みを<br
                  class="u-brPc"
                />
                分析し、お客様一人ひとりに最適なアドバイスを提案することで、<br
                  class="u-brPc"
                />
                ココロとカラダの健康の実現をサポートします。
              </p>
              <div class="p-mission-side p-mission-side__left">
                <div class="p-mission-side__left--inner">
                  <div
                    class="p-mission-side__item p-mission-side__left--item luxy-el"
                    data-speed-y="-20"
                  >
                    <img src="image/img_side_01.png" alt="" />
                  </div>
                  <div
                    class="p-mission-side__item p-mission-side__left--item luxy-el"
                    data-speed-y="-11"
                  >
                    <img src="image/img_side_02.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="p-mission-side p-mission-side__right">
                <div class="p-mission-side__right--inner">
                  <div
                    class="p-mission-side__item p-mission-side__right--item luxy-el"
                    data-speed-y="-16"
                  >
                    <img src="image/img_side_03.png" alt="" />
                  </div>
                  <div
                    class="p-mission-side__item p-mission-side__right--item luxy-el"
                    data-speed-y="-9"
                  >
                    <img src="image/img_side_04.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.c-container -->
        </section>
        <section class="c-panel p-box-center">
          <div class="c-container p-lead">
            <h2 class="c-panel-head">
              <span class="c-ttl__pink">Competency</span>
              <span class="c-ttl">
                <img src="image/img_ttl-competency.png" alt="FiNC SPIRIT" />
              </span>
            </h2>
            <p class="c-panel-body">
              FiNC SPIRITとは、10項目からなるFiNCにおける行動指針です。<br
                class="u-brPc"
              />
              バックグランドの違う多様なメンバーが数多く在籍しているFiNCで、<br
                class="u-brPc"
              />
              私たちのValueを実現するために大切にしています。
            </p>
            <div class="c-btn-wrapper">
              View message
              <a href="" class="c-btn"></a>
            </div>
            <div class="p-lead__img u-noneSp">
              <div
                class="p-lead__img--box p-lead-img__left luxy-el"
                data-speed-y="-1"
              >
                <img src="image/img_finc_spirit1.jpg" alt="" />
              </div>
              <div
                class="p-lead__img--box p-lead-img__right luxy-el"
                data-speed-y="0"
              >
                <span class="p-lead-img__right--inner">
                  <img src="image/img_finc_spirit2.jpg" alt="" />
                </span>
              </div>
            </div>
            <div class="p-lead__img u-nonePc">
              <img src="image/sp/img_finc_spirit1.jpg" alt="" />
            </div>
          </div>
          <!-- /.c-container -->
        </section>
        <section class="c-panel">
          <div class="c-container p-feature">
            <div class="p-feature__txt js-fadein fadein01">
              <h2 class="c-panel-head c-panel-sp">
                <span class="c-ttl">
                  <img src="image/img_ttl-business.png" alt="Business" />
                </span>
                <span class="c-ttl__sub">ヘルスケアプラットフォームの構築</span>
              </h2>
              <div class="p-lead__img u-nonePc">
                <img src="image/sp/img_business.png" alt="" />
              </div>
              <p class="c-panel-body c-panel-sp">
                ヘルスケアとAIテクノロジーを掛け合わせて、「すべての人にパーソナルAIを」というミッションを実現するヘルスケアプラットフォームを構築します。
              </p>
              <div class="c-btn-wrapper c-btn-wrapper__feature">
                View business
                <a href="" class="c-btn"></a>
              </div>
            </div>
            <div
              class="p-feature__img p-feature__img--business luxy-el u-noneSp"
              data-speed-y="3"
            >
              <img src="image/img_business.png" alt="" />
            </div>
          </div>
          <!-- /.c-container -->
        </section>
        <section class="c-panel">
          <div class="c-container p-feature p-feature-team">
            <div class="p-feature__img p-feature-team__img u-noneSp">
              <div
                class="p-feature__img--box luxy-el"
                data-horizontal="1"
                data-speed-x="0.5"
              >
                <img src="image/img_team1.jpg" alt="" />
              </div>
              <div
                class="p-feature__img--box luxy-el"
                data-horizontal="1"
                data-speed-x="-0.2"
              >
                <img src="image/img_team2.jpg" alt="" />
              </div>
            </div>
            <div class="p-feature__txt p-feature-team__txt js-fadein fadein01">
              <h2 class="c-panel-head c-panel-sp">
                <span class="c-ttl">
                  <img src="image/img_ttl-team.png" alt="Team" />
                </span>
                <span class="c-ttl__sub">多様なプロフェッショナル集団</span>
              </h2>
              <div class="p-lead__img u-nonePc">
                <img src="image/sp/img_team.jpg" alt="" />
              </div>
              <p class="c-panel-body c-panel-sp">
                管理栄養士や理学療法士、トレーナー等の健康領域の資格保有者、データサイエンティストやエンジニア、栄養学・運動学・心理学など様々な専門領域のメンバーで構成されています。
              </p>
              <div class="c-btn-wrapper c-btn-wrapper__feature">
                View team
                <a href="" class="c-btn"></a>
              </div>
            </div>
          </div>
          <!-- /.c-container -->
        </section>
        <section class="c-panel">
          <div class="c-container p-experience">
            <div class="p-experience-wrapper">
              <div class="p-experience__heading js-fadein fadein02 c-panel-sp">
                <h2 class="c-panel-head">
                  <span class="c-ttl">
                    <img src="image/img_ttl-experience.png" alt="Experience" />
                  </span>
                </h2>
                <p class="c-panel-body">
                  ユーザーに価値あるサービスや体験をお届けするには、まずは私たちが心身ともにベストな状態であることが必要だと考え、当社ならではの制度を整えています。
                </p>
              </div>
              <div class="p-experience__body c-panel-sp">
                <ul class="p-card">
                  <li
                    class="p-card__item p-card__item--left js-fadein fadein05"
                  >
                    <a href="" class="p-experience-list">
                      <picture>
                        <source
                          media="(min-width:769px)"
                          srcset="image/img_experience1.jpg"
                        />
                        <img src="image/sp/img_experience1.jpg" alt="test" />
                      </picture>
                      <div class="p-experience-list__box">
                        <h3 class="p-experience-list__box--head">
                          FiNC Wellness Box
                        </h3>
                        <p class="p-experience-list__box--body">
                          従業員のウェルネスのために<br />
                        </p>
                      </div>
                    </a>
                  </li>
                  <li
                    class="p-card__item p-card__item--right js-fadein fadein05"
                  >
                    <a
                      href=""
                      class="p-experience-list luxy-el"
                      data-speed-y="-1.5"
                    >
                      <picture>
                        <source
                          media="(min-width:769px)"
                          srcset="image/img_experience2.jpg"
                        />
                        <img src="image/sp/img_experience2.jpg" alt="test" />
                      </picture>
                      <div class="p-experience-list__box">
                        <h3 class="p-experience-list__box--head">
                          For Engineer
                        </h3>
                        <p class="p-experience-list__box--body">
                          価値を発揮するための<br />エンジニア向けベネフィット
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-experience-bg js-fadein fadein03"></div>
          </div>
          <!-- /.c-container -->
        </section>
        <section class="c-panel p-jobs">
          <div class="c-container">
            <div class="p-jobs-wrapper js-fadein fadein04">
              <div class="p-jobs-inner js-fadein fadein02">
                <h2 class="c-panel-head c-panel-sp c-panel-head__form">
                  <span class="c-panel-head__form--ttl">
                    <img src="image/img_ttl-jobs.png" alt="Jobs" />
                  </span>
                  <span class="c-panel-head__form--txt"
                    >私達と一緒に働く仲間を募集しています。</span
                  >
                </h2>
                <div class="c-panel-body c-panel-sp">
                  <div class="p-form">
                    <div class="p-form-inner">
                      <div
                        class="p-form-inner__box p-form-inner__box01 js-form-btn"
                      >
                        職種
                        <ul class="p-form-list p-form-list01 js-form-list">
                          <li class="p-form-list__item">Engineer</li>
                          <li class="p-form-list__item">CS</li>
                          <li class="p-form-list__item">New graduate</li>
                          <li class="p-form-list__item">Product</li>
                          <li class="p-form-list__item">Sales</li>
                          <li class="p-form-list__item">Intern</li>
                          <li class="p-form-list__item">QA</li>
                          <li class="p-form-list__item">Marketing</li>
                          <li class="p-form-list__item">Professional</li>
                          <li class="p-form-list__item">Designer</li>
                          <li class="p-form-list__item">
                            Corporate / Back Office
                          </li>
                        </ul>
                      </div>
                      <div
                        class="p-form-inner__box p-form-inner__box02 js-form-btn"
                      >
                        勤務地
                        <ul class="p-form-list p-form-list02 js-form-list">
                          <li class="p-form-list__item">Tokyo</li>
                        </ul>
                      </div>
                      <div class="c-btn-wrapper p-form-inner__btn">
                        募集職種一覧へ
                        <a href="" class="c-btn"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- /.l-main -->
      <%- include('../components/_footer'); %>
    </div>

    <script charset="utf-8">
      var _ua = (function (u) {
        return {
          Tablet:
            (u.indexOf("windows") != -1 &&
              u.indexOf("touch") != -1 &&
              u.indexOf("tablet pc") == -1) ||
            u.indexOf("ipad") != -1 ||
            (u.indexOf("android") != -1 && u.indexOf("mobile") == -1) ||
            (u.indexOf("firefox") != -1 && u.indexOf("tablet") != -1) ||
            u.indexOf("kindle") != -1 ||
            u.indexOf("silk") != -1 ||
            u.indexOf("playbook") != -1,
          Mobile:
            (u.indexOf("windows") != -1 && u.indexOf("phone") != -1) ||
            u.indexOf("iphone") != -1 ||
            u.indexOf("ipod") != -1 ||
            (u.indexOf("android") != -1 && u.indexOf("mobile") != -1) ||
            (u.indexOf("firefox") != -1 && u.indexOf("mobile") != -1) ||
            u.indexOf("blackberry") != -1,
        };
      })(window.navigator.userAgent.toLowerCase());
      if (!_ua.Mobile && !_ua.Tablet) {
        luxy.init({
          wrapper: "#luxy",
          targets: ".luxy-el",
          wrapperSpeed: 0.08,
        });
      }
    </script>
    <script>
      $(window).enllax({ type: "foreground" });

      var swiper = new Swiper(".swiper-container", {
        spaceBetween: 30,
        speed: 1500,
        effect: "fade",
        loop: true,
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
      });
    </script>
  </body>
</html>
