@charset "UTF-8";
/* =========================================================
 Foundation
========================================================= */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  background-color: #fff;
  color: #333;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  word-wrap: break-word;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: #222;
  font-size: 100%;
  font-family: Lato, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

img {
  max-width: 100%;
}

main {
  font-size: 1.6rem;
}

a,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.fadeInUp {
  opacity: 0 !important;
  transform: translateY(40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInDown {
  opacity: 0 !important;
  transform: translateY(-40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInRight {
  opacity: 0 !important;
  transform: translateX(-40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInLeft {
  opacity: 0 !important;
  transform: translateX(40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 1s !important;
}

.fadeInZoom {
  opacity: 0 !important;
  transform: scale(0) !important;
  transform-origin: center center;
  transition-timing-function: cubic-bezier(0.24, 1, 0.32, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 1.2s !important;
  transition-delay: 0.7s;
}

@media only screen and (min-width: 769px) {
  .fadein01 {
    opacity: 0;
    transform: translate(0, 75px);
    transition: all 800ms ease-in-out;
  }
  .fadein02 {
    opacity: 0;
    transform: translate(80px, 0);
    transition: all 800ms cubic-bezier(0.6, 0.21, 0.13, 1);
  }
  .fadein03 {
    opacity: 0;
    transform: translate(150px, 0);
    transition: all 400ms ease-in-out;
  }
  .fadein04 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 400ms ease-in-out;
  }
  .fadein05 {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 500ms ease-in-out;
  }
  .fadein05 + .fadein05 {
    transition-delay: 300ms;
    top: 70px;
  }
  .fadein01.scrollin,
  .fadein02.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fadein03.scrollin {
    opacity: 1;
    transform: translate(120px, 0);
  }
  .fadein04.scrollin {
    opacity: 1;
    transform: translate(-80px, 0);
  }
  .fadein05.scrollin {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.js-start {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}

.js-anime-value {
  transform: translateY(-100%);
  transition: all 1s cubic-bezier(0.6, 0.21, 0.13, 1);
}

.js-anime-value.active {
  transform: translateY(0);
}

/* =========================================================
 Layout
========================================================= */
/***********
* header
************/
.l-header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-20px);
  transition: all 0.5s;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .l-header {
    width: 100vw;
    height: 60px;
    background: #fff;
  }
}

.l-header.active {
  transform: translateY(0px);
  opacity: 1;
}

.l-header__logo {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .l-header__logo {
    width: 120px;
  }
}

.l-header__logo.hide {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .l-header__logo.hide {
    opacity: 1;
  }
}

.l-header__logo--inner {
  display: block;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.1s;
}

.l-header__logo--off {
  opacity: 0;
}

.l-header__logo--off.on {
  opacity: 1;
}

.l-header__logo--on {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.l-header__logo--on.on {
  opacity: 1;
}

.l-header-inner {
  margin: 40px 50px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .l-header-inner {
    margin: 20px 15px;
  }
}

.l-header-nav {
  display: flex;
  font-size: 11px;
  margin-right: 20px;
}

.l-header-nav__item {
  transition: all 0.3s;
}

.l-header-nav__item a {
  font-weight: 700;
}

.l-header-nav__item a:hover {
  color: #ee3281;
}

.l-header-nav__item:hover {
  color: #ee3281;
}

.l-header-nav__item + .l-header-nav__item {
  font-weight: 700;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
}

.l-header-nav__item--btn {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.l-header .l-btn-open {
  margin-left: 10px;
  opacity: 0;
}

.l-header .l-btn-open__icon {
  width: 20px;
  height: 2px;
  background: #ee3281;
  position: absolute;
  display: inline-block;
}

.l-header .l-btn-open__icon + .l-btn-open__icon {
  top: 8px;
}

.l-header .l-btn-open.on {
  opacity: 1;
}

.l-header .l-btn-close {
  margin-left: 0;
  top: 4px;
  left: 0;
  opacity: 0;
}

.l-header .l-btn-close.on {
  opacity: 1;
}

.l-header .l-btn-close__icon {
  width: 20px;
  height: 2px;
  background: #ee3281;
  position: absolute;
  display: inline-block;
  transform: rotate(45deg);
}

.l-header .l-btn-close__icon:nth-child(2) {
  transform: rotate(135deg);
}

/***********
* footer
************/
.l-footer {
  font-size: 16px;
  padding: 265px 0 55px;
  background: url("/image/img_footer.jpg");
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 768px) {
  .l-footer {
    padding-top: 400px;
    background: url(/image/sp/img_footer.jpg), #222;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    font-size: 20px;
    padding-bottom: 35px;
  }
}

.l-footer-inner {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .l-footer-inner {
    display: block;
  }
}

.l-footer-inner a {
  color: #fff;
  transition: all 0.3s;
}

.l-footer-inner a:hover {
  opacity: 0.5;
}

.l-footer-inner__head {
  color: #fff;
  font-weight: 700;
}

.l-footer-top {
  padding-bottom: 80px;
  margin-bottom: 80px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .l-footer-top {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.l-footer-top:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .l-footer-top:after {
    width: 100%;
  }
}

.l-footer-top__head {
  margin-right: 70px;
}

@media only screen and (max-width: 768px) {
  .l-footer-top__head {
    letter-spacing: 0.1em;
  }
}

.l-footer-top__body {
  display: flex;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .l-footer-top__body {
    flex-wrap: wrap;
    font-size: 13px;
  }
}

.l-footer-top__body li {
  margin-right: 40px;
}

@media only screen and (max-width: 768px) {
  .l-footer-top__body li {
    width: 30%;
    margin-top: 20px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .l-footer-top__body li:nth-child(even) {
    width: 70%;
  }
}

.l-footer-middle {
  margin-bottom: 105px;
}

@media only screen and (max-width: 768px) {
  .l-footer-middle {
    margin-bottom: 70px;
  }
}

.l-footer-middle__list {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .l-footer-middle__list {
    display: block;
  }
}

.l-footer-middle__list--item {
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .l-footer-middle__list--item {
    margin-right: 0;
    letter-spacing: 0.1em;
  }
  .l-footer-middle__list--item:nth-child(2) {
    margin-top: 60px;
  }
}

.l-footer-middle__sublist {
  display: flex;
  font-size: 11px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .l-footer-middle__sublist {
    display: block;
    font-size: 13px;
    margin-top: 20px;
    letter-spacing: 0.06em;
  }
}

.l-footer-middle__sublist--item {
  margin-right: 70px;
}

.l-footer-middle__element > * {
  margin-bottom: 22px;
}

@media only screen and (max-width: 768px) {
  .l-footer-middle__element > * {
    margin-bottom: 19px;
  }
}

.l-footer-bottom {
  justify-content: space-between;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.08em;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom {
    font-size: 10px;
    letter-spacing: 0.1em;
  }
}

.l-footer-bottom__inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner {
    align-items: baseline;
  }
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner--list {
    order: 3;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
}

.l-footer-bottom__inner--list:nth-child(2) {
  font-size: 14px;
  margin-left: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner--list:nth-child(2) {
    order: 1;
    width: 50%;
    margin: 0;
    border-right: 1px solid #fff;
  }
}

.l-footer-bottom__inner--list:last-child {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner--list:last-child {
    order: 2;
    width: 50%;
    margin: 0;
  }
}

.l-footer-bottom__inner .l-sns-list {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner .l-sns-list {
    font-size: 18px;
    font-weight: 500;
    align-items: center;
  }
}

.l-footer-bottom__inner .l-sns-list__item {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner .l-sns-list__item {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .l-footer-bottom__inner .l-sns-list__item .fa-facebook-f {
    font-size: 22px;
  }
}

/***********
* nav
************/
/*transition & delay*/
.transition10 {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.delay01 {
  transition-delay: 0.5s;
}

.delay02 {
  transition-delay: 0.55s;
}

.delay03 {
  transition-delay: 0.6s;
}

.delay04 {
  transition-delay: 0.65s;
}

.delay05 {
  transition-delay: 0.7s;
}

.delay06 {
  transition-delay: 0.75s;
}

.l-gnav {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}

.l-gnav-right {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.l-gnav-body {
  padding-left: 60px;
}

.l-gnav-body__list--item {
  font-size: 22px;
  font-weight: 700;
  margin: 35px 0;
  opacity: 0;
  letter-spacing: 0.04em;
}

.l-gnav-body__list--item:last-child {
  font-size: 14px;
  margin-top: 50px;
}

.l-gnav-left {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.l-gnav.on {
  display: block;
  z-index: 5;
}

.l-gnav.on .l-gnav-right {
  opacity: 1;
  width: 340px;
}

@media only screen and (max-width: 768px) {
  .l-gnav.on .l-gnav-right {
    width: 100%;
  }
}

.l-gnav.on .l-gnav-body__list--item {
  opacity: 1;
}

.l-gnav.on .l-gnav-left {
  opacity: 1;
  width: calc(100% - 340px);
}

@media only screen and (max-width: 768px) {
  .l-gnav.on .l-gnav-left {
    width: 0;
  }
}

.l-main {
  padding-top: 112px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    overflow-x: hidden;
  }
}

/* =========================================================
 Object
========================================================= */
/* ---------------------------------------------------------
 Component
--------------------------------------------------------- */
.c-container {
  width: 1120px;
  padding: 0 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-container {
    width: calc(100% - 32px);
    padding: 0;
  }
}

/* btn */
.c-btn-wrapper {
  background-color: #ee3281;
  width: 240px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  color: #fff;
  position: relative;
  text-align: center;
  border-radius: 30px;
  transition: 0.3s ease;
  margin-top: 90px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 768px) {
  .c-btn-wrapper {
    background-color: #303030;
    width: 220px;
    margin-top: 35px;
    height: 48px;
    line-height: 48px;
  }
}

.c-btn-wrapper:hover {
  opacity: 0.8;
}

.c-btn-wrapper__feature {
  margin-top: 60px;
  margin-left: 0;
}

@media only screen and (max-width: 768px) {
  .c-btn-wrapper__feature {
    margin: 35px auto 0;
  }
}

.c-btn {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c-panel {
  margin-top: 150px;
}

@media only screen and (max-width: 768px) {
  .c-panel {
    margin-top: 60px;
  }
}

.c-panel:first-of-type {
  margin-top: 0;
}

.c-panel-head > * {
  display: block;
}

.c-panel-head__form {
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .c-panel-head__form {
    display: block;
    text-align: center;
  }
}

.c-panel-head__form--ttl {
  width: 85px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-panel-head__form--txt {
    margin-left: 70px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 768px) {
  .c-panel-head__form--txt {
    margin: 20px 0 0;
    font-size: 12px;
  }
}

.c-panel-body {
  margin-top: 60px;
  line-height: 2;
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 768px) {
  .c-panel-body {
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    line-height: 1.75;
  }
}

@media only screen and (max-width: 768px) {
  .c-panel-sp {
    padding: 0 16px;
  }
}

.p-experience .c-panel-body {
  margin-top: 45px;
}

@media only screen and (max-width: 768px) {
  .p-experience .c-panel-body {
    line-height: 2;
    margin-top: 25px;
  }
}

.p-box-center .c-panel-body {
  font-weight: bold;
}

.c-ttl__txt {
  letter-spacing: 0.03em;
  font-size: 64px;
  margin-bottom: -10px;
}

@media only screen and (max-width: 768px) {
  .c-ttl__txt {
    font-size: 9.8vw;
    line-height: 1.5;
  }
}

.c-ttl__sub {
  margin-top: 25px;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: -5px;
}

@media only screen and (max-width: 768px) {
  .c-ttl__sub {
    letter-spacing: 0.05em;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.c-ttl__pink {
  color: #ee3281;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .c-ttl__pink {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* ---------------------------------------------------------
 Project
--------------------------------------------------------- */
.p-box-center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-box-center .c-panel-body {
    line-height: 2;
    margin-top: 32px;
  }
}

.p-experience {
  position: relative;
}

.p-experience__heading {
  width: 525px;
}

@media only screen and (max-width: 768px) {
  .p-experience__heading {
    width: 100%;
  }
}

.p-experience .p-card {
  display: flex;
  padding-left: 180px;
  padding-top: 65px;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .p-experience .p-card {
    display: block;
    padding-top: 32px;
    padding-left: 0;
  }
}

.p-experience .p-card__item {
  width: 309px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-experience .p-card__item {
    width: 100%;
  }
}

.p-experience .p-card__item:nth-child(2) {
  margin-top: 150px;
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .p-experience .p-card__item:nth-child(2) {
    margin-top: 90px;
    margin-left: 0;
  }
}

.p-experience .p-card__item:nth-child(2) .p-experience-list__box {
  bottom: -106px;
}

@media only screen and (max-width: 768px) {
  .p-experience .p-card__item:nth-child(2) .p-experience-list__box {
    bottom: -98px;
  }
}

.p-experience-wrapper {
  padding-top: 170px;
}

@media only screen and (max-width: 768px) {
  .p-experience-wrapper {
    padding-top: 100px;
  }
}

.p-experience-list {
  display: block;
}

.p-experience-list img {
  transition: transform 400ms cubic-bezier(0.36, 0.1, 0.16, 1);
}

.p-experience-list img:hover {
  transform: scale(1.05);
}

.p-experience-list__box {
  width: calc(100% - 30px);
  padding: 30px;
  position: absolute;
  bottom: -72px;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .p-experience-list__box {
    width: calc(100% - 20px);
    padding: 22px 20px;
    bottom: -72px;
    right: 0;
  }
}

.p-experience-list__box--head {
  font-weight: 900;
  font-size: 22px;
  color: #ee3281;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 768px) {
  .p-experience-list__box--head {
    font-size: 16px;
  }
}

.p-experience-list__box--body {
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .p-experience-list__box--body {
    margin-top: 5px;
  }
}

.p-experience-bg {
  top: 50px;
  height: 530px;
  width: 100%;
  background: #f9f9f9;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .p-experience-bg {
    top: 20px;
    left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .p-experience .c-ttl {
    width: 265px;
  }
}

.p-feature {
  position: relative;
}

.p-feature__txt {
  width: 375px;
}

@media only screen and (max-width: 768px) {
  .p-feature__txt {
    width: 100%;
  }
}

.p-feature__img {
  position: absolute;
  top: 0;
  right: -110px;
}

.p-feature__img--business {
  top: -170px;
}

.p-feature__img--box {
  width: 587px;
  height: 241px;
}

.p-feature__img--box img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-feature__img--box + .p-feature__img--box {
  margin-top: 35px;
  width: 620px;
  margin-left: 120px;
}

@media only screen and (max-width: 768px) {
  .p-feature .c-ttl {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .p-feature-team {
    padding-top: 20px;
  }
}

.p-feature-team__txt {
  margin-right: 0;
  margin-left: auto;
  padding-top: 120px;
}

@media only screen and (max-width: 768px) {
  .p-feature-team__txt {
    padding-top: 0px;
  }
}

.p-feature-team__img {
  left: -155px;
  width: 600px;
}

@media only screen and (max-width: 768px) {
  .p-feature-team .c-ttl {
    width: 130px;
  }
}

@media only screen and (max-width: 768px) {
  .p-form {
    margin-top: 40px;
  }
}

.p-form-inner {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-form-inner {
    display: block;
  }
}

.p-form-inner__box {
  margin-right: 30px;
  border-radius: 10px;
  border: 1px solid #bcbec0;
  width: 280px;
  height: 60px;
  font-size: 14px;
  color: #666;
  padding: 0 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .p-form-inner__box {
    margin: 0 auto;
    width: 260px;
    height: 48px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 13px;
  }
}

.p-form-inner__box:after {
  content: "";
  width: 8px;
  height: 8px;
  border: 0px;
  border-top: solid 3px #bcbcbc;
  border-right: solid 3px #bcbcbc;
  transform: rotate(135deg);
  position: absolute;
  top: 45%;
  right: 20px;
  margin-top: -4px;
}

.p-form-inner__box.is-active {
  box-shadow: 2px 0px 5px #ccc;
}

.p-form-inner__btn {
  margin: 0;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .p-form-inner__btn {
    margin: 0 auto;
  }
}

.p-form-list {
  position: absolute;
  top: 77%;
  left: -1px;
  padding: 15px 60px;
  background: #fff;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  z-index: 3;
  display: none;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .p-form-list {
    padding: 10px 20px 20px;
  }
}

.p-form-list.p-form-list01 {
  width: 900px;
}

@media only screen and (max-width: 768px) {
  .p-form-list.p-form-list01 {
    width: 260px;
  }
}

.p-form-list.p-form-list02 {
  width: calc(100% + 2px);
}

.p-form-list.is-open {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-form-list.is-open {
    display: block;
  }
}

.p-form-list::before {
  top: -2px;
  left: 0;
  content: "";
  width: 278px;
  height: 10px;
  background-color: #fff;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .p-form-list::before {
    width: 258px;
    border: 1px solid #bcbec0;
    border-top: none;
    border-bottom: none;
    left: -1px;
  }
}

.p-form-list__item {
  width: calc(100% / 3);
  padding: 15px 0;
  color: #000000;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .p-form-list__item {
    width: 100%;
  }
}

.p-jobs {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-jobs {
    margin-bottom: -320px;
    margin-top: 200px;
  }
}

.p-jobs-wrapper {
  padding-left: 160px;
  padding-bottom: 100px;
  background: #fff;
  width: 100vw;
  margin-bottom: -150px;
}

@media only screen and (max-width: 768px) {
  .p-jobs-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 60px;
  }
}

.p-lead__img {
  position: relative;
  padding-bottom: 90px;
  margin-top: 150px;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .p-lead__img {
    margin-top: 40px;
    padding-bottom: 0;
  }
}

.p-lead__img .p-lead-img__left {
  width: 650px;
  position: relative;
  left: -32px;
}

.p-lead__img .p-lead-img__right {
  width: 627px;
  position: absolute;
  top: 85px;
  right: -17px;
}

.p-lead__img .p-lead-img__right--inner {
  display: block;
  position: relative;
}

.p-lead__img .p-lead-img__right--inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #fff;
}

.p-lead__img .p-lead-img__right--inner:after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 100%;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .p-lead .c-ttl {
    width: 215px;
    margin: 30px auto 0;
  }
}

.p-mission-inner {
  position: relative;
}

.p-mission-side {
  position: relative;
  z-index: -1;
}

.p-mission-side__item {
  position: absolute;
  display: flex;
  z-index: 3;
  align-items: flex-start;
}

.p-mission-side__left {
  left: -80px;
}

.p-mission-side__left--item {
  top: 600px;
  left: -120px;
}

.p-mission-side__left--item:nth-child(2) {
  top: -150px;
  left: 0px;
}

.p-mission-side__right {
  right: -65px;
}

.p-mission-side__right--item {
  right: 0;
  top: 800px;
}

.p-mission-side__right--item:nth-child(2) {
  right: -133px;
  top: 100px;
}

.p-value {
  margin-bottom: 250px;
}

@media only screen and (max-width: 768px) {
  .p-value {
    margin-bottom: 235px;
  }
}

.p-value-inner {
  padding-left: 22%;
  margin-top: 70px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-value-inner {
    padding-left: 29%;
    margin-top: 0;
  }
}

.p-value-head__heading--lead {
  display: block;
  margin-bottom: 30px;
  transition: all 0.5s;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .p-value-head__heading--lead {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .p-value-head__heading--lead img {
    width: 80px;
  }
}

.p-value-head__heading--box {
  position: relative;
  width: 70vw;
  transform: translateY(30px);
  transition: all 1s;
  opacity: 0;
}

.p-value-head__heading--box .p-txt-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  opacity: 80%;
  transition: all 2s cubic-bezier(0.42, 0, 0.23, 0.92);
}

.p-value-head__heading--box .p-txt-cover.delay07 {
  transition-delay: 1.1s;
}

.p-value-head__heading--box .p-txt-cover.delay08 {
  transition-delay: 1.2s;
}

.p-value-head__heading--box .p-txt-cover.delay09 {
  transition-delay: 1.3s;
}

.p-value-head__heading--box .p-txt-cover.delay10 {
  transition-delay: 1.4s;
}

.p-value-head__heading--ttl {
  display: block;
  position: absolute;
  top: 0;
}

.p-value-head__heading--ttl img {
  width: 100%;
  height: 100%;
}

.p-value-head__heading--ttl:first-child {
  position: relative;
}

.p-value-head.active .p-value-head__heading--lead {
  opacity: 1;
}

.p-value-head.active .p-value-head__heading--box {
  transform: translateY(0);
  opacity: 1;
}

.p-value-head.active .p-txt-cover {
  transform: translateX(100%);
}

.p-value-body {
  margin-top: 150px;
  padding: 120px;
  position: relative;
  color: #fff;
  transform: translateY(30px);
  transition: all 1s;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .p-value-body {
    padding: 0;
    margin: 0;
    margin-left: -75px;
    top: 155px;
  }
}

.p-value-body__box {
  position: relative;
  z-index: 2;
  font-size: 13px;
  line-height: 2.2;
}

@media only screen and (max-width: 768px) {
  .p-value-body__box {
    background-image: url(/image/img_recruiting_statement.jpg);
    font-size: 12px;
    padding: 55px 32px;
    line-height: 2;
  }
}

.p-value-body__heading {
  font-size: 32px;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .p-value-body__heading {
    font-size: 19px;
    margin-bottom: 35px;
  }
}

.p-value-body__txt {
  letter-spacing: 0.02em;
}

.p-value-body__txt + .p-value-body__txt {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .p-value-body__txt + .p-value-body__txt {
    margin-top: 25px;
  }
}

.p-value-body__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/image/img_recruiting_statement.jpg");
  background-size: 125%;
  background-position: top 43% right 49%;
  background-repeat: no-repeat;
}

.p-value-body__gray {
  width: 100%;
  height: 200px;
  background: #f9f9f9;
  position: absolute;
  top: -65px;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .p-value-body__gray {
    top: -85px;
    left: 125px;
  }
}

.p-value-body.active {
  transform: translateY(0px);
  opacity: 1;
}

.p-value-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 23%;
  height: 100%;
  margin-top: -70px;
  margin-left: -0.4%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .p-value-side {
    width: 22%;
    height: 100vw;
    margin-top: -30px;
    margin-left: -1%;
  }
}

.p-value-side__cover {
  width: 66%;
  position: absolute;
  z-index: 3;
  top: -1px;
}

@media only screen and (max-width: 768px) {
  .p-value-side__cover {
    width: 100%;
  }
}

.p-value-side__inner {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 66%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .p-value-side__inner {
    width: 100%;
  }
}

.p-value-bar {
  position: absolute;
  width: 1px;
  height: 50px;
  background: #ee3281;
  top: 44%;
  right: 65px;
  z-index: 5;
  -webkit-animation: 2s linear infinite forwards running expansion;
  animation: 2s linear infinite forwards running expansion;
}

@media only screen and (max-width: 768px) {
  .p-value-bar {
    right: 24px;
    top: 290px;
  }
}

@-webkit-keyframes expansion {
  0% {
    transform-origin: top;
    transform: scale(0);
  }
  50% {
    transform-origin: top;
    transform: scale(1);
  }
  51% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform-origin: bottom;
    transform: scale(0);
  }
}

@keyframes expansion {
  0% {
    transform-origin: top;
    transform: scale(0);
  }
  50% {
    transform-origin: top;
    transform: scale(1);
  }
  51% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform-origin: bottom;
    transform: scale(0);
  }
}

@media only screen and (max-width: 768px) {
  .p-competency .p-lead__img {
    margin-top: 60px;
    padding-bottom: 18px;
  }
}

/* ---------------------------------------------------------
 Utility
--------------------------------------------------------- */
.u-brSp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .u-brSp {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .u-brPc {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .u-noneSp {
    display: none;
  }
}

.u-nonePc {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .u-nonePc {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  .u-noneMd {
    display: none;
  }
}

.u-nonePcMd {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .u-nonePcMd {
    display: block !important;
  }
}

.progress {
  height: 80px;
  width: 80px;
  margin: 50px auto;
}

.progress > svg {
  height: 100%;
  display: block;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
