<div class="l-gnav">
  <div class="l-gnav-left transition10">
    <div>aaa</div>
  </div>
  <div class="l-gnav-right transition10">
    <nav class="l-gnav-body">
      <ul class="l-gnav-body__list">
        <li class="l-gnav-body__list--item transition10 delay01">
          <a href="">Message</a>
        </li>
        <li class="l-gnav-body__list--item transition10 delay02">
          <a href="">Jobs</a>
        </li>
        <li class="l-gnav-body__list--item transition10 delay03">
          <a href="">Business</a>
        </li>
        <li class="l-gnav-body__list--item transition10 delay04">
          <a href="">Team</a>
        </li>
        <li class="l-gnav-body__list--item transition10 delay05">
          <a href="">Experience</a>
        </li>
        <li class="l-gnav-body__list--item transition10 delay06">
          <a href="">Corporate</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
