<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header__logo">
      <span class="l-header__logo--inner l-header__logo--off on">
        <img
          src="image/img_logo_off.png"
          alt="Finc Technologies RECRUITUNG SITE"
          width="180px"
        />
      </span>
      <span class="l-header__logo--inner l-header__logo--on">
        <img
          src="image/img_logo_on.png"
          alt="Finc Technologies RECRUITUNG SITE"
          width="180px"
        />
      </span>
    </a>
    <div class="l-header__menu">
      <ul class="l-header-nav">
        <li class="l-header-nav__item"><a href="">EN</a></li>
        <li class="l-header-nav__item js-menu">
          Menu
          <div class="l-header-nav__item--btn l-btn-open on">
            <span class="l-btn-open__icon"></span>
            <span class="l-btn-open__icon"></span>
          </div>
          <div class="l-header-nav__item--btn l-btn-close">
            <span class="l-btn-close__icon"></span>
            <span class="l-btn-close__icon"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- /.l-header -->
