<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header__logo">
      <p>Finc Technologies</p>
      <p>RECRUITUNG SITE</p>
    </a>
    <div class="l-header__menu">
      <ul class="l-header-nav">
        <li><a href="">EN</a></li>
        <li class="js-menu">
          Menu
          <span></span>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- /.l-header -->
