<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    採用情報 │ 株式会社 FiNC Technologies（フィンクテクノロジーズ）
  </title>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/css/swiper.min.css"
  />
  <link
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  <script src="js/scrolline.js"></script>
  <!-- <script src="js/jquery-inertiaScroll.js"></script> -->
  <script src="js/luxy.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/js/swiper.min.js"></script>
  <script src="js/jquery.enllax.min.js" charset="utf-8"></script>
  <!-- <script src="js/jquery.easeScroll.js"></script> -->
  <script src="js/index.js"></script>
</head>
