<header class="l-header">
  <div class="l-header-inner">
    <a href="/" class="l-header__logo">
      <p>Finc Technologies</p>
      <p>RECRUITUNG SITE</p>
    </a>
    <div class="l-header__menu">
      <ul class="l-header-nav">
        <li class="l-header-nav__item"><a href="">EN</a></li>
        <li class="l-header-nav__item js-menu">
          Menu
          <div class="l-header-nav__item--btn l-btn-open on">
            <span class="l-btn-open__icon"></span>
            <span class="l-btn-open__icon"></span>
          </div>
          <div class="l-header-nav__item--btn l-btn-close">
            <span class="l-btn-close__icon"></span>
            <span class="l-btn-close__icon"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- /.l-header -->
