@charset "UTF-8";
.p-experience {
  position: relative;

  &__heading {
    width: 525px;

    @include mqSm {
      width: 100%;
    }
  }

  .p-card {
    display: flex;
    padding-left: 180px;
    padding-top: 65px;
    align-items: flex-start;

    @include mqSm {
      display: block;
      padding-top: 40px;
      padding-left: 0;
    }

    &__item {
      width: 309px;
      position: relative;

      &:nth-child(2) {
        margin-top: 150px;
        margin-left: 50px;

        @include mqSm {
          margin-top: 100px;
          margin-left: 0;
        }

        .p-experience-list__box {
          bottom: -106px;

          @include mqSm {
            bottom: -98px;
          }
        }
      }
    }
  }

  &-wrapper {
    padding-top: 170px;
  }

  &-list {
    display: block;
    // overflow: hidden;

    img {
      transition: transform 400ms cubic-bezier(0.36, 0.1, 0.16, 1);

      &:hover {
        transform: scale(1.05);
      }
    }

    &__box {
      width: calc(100% - 30px);
      padding: 30px;
      position: absolute;
      bottom: -72px;
      background: #fff;

      @include mqSm {
        width: calc(100% - 20px);
        padding: 20px;
        bottom: -75px;
        right: 0;
      }

      &--head {
        font-weight: 900;
        font-size: 22px;
        color: $color-pink;
        letter-spacing: 0.04em;

        @include mqSm {
          font-size: 16px;
        }
      }

      &--body {
        font-size: 13px;
        font-weight: 700;
        line-height: 2;
        margin-top: 10px;
      }
    }
  }

  &-bg {
    top: 50px;
    height: 530px;
    width: 100%;
    background: #f9f9f9;
    position: absolute;
    z-index: -1;
    // transform: translateX(120px);
  }
}
