@charset "UTF-8";
.p-feature {
  position: relative;

  &__txt {
    width: 375px;

    @include mqMd {
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: -110px;

    &--business {
      top: -170px;
    }

    &--box {
      width: 587px;
      height: 241px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      + .p-feature__img--box {
        margin-top: 35px;
        width: 620px;
        margin-left: 120px;
      }
    }
  }

  .c-ttl {
    @include mqMd {
      width: 200px;
    }
  }
}

.p-feature-team {
  @include mqMd {
    padding-top: 20px;
  }

  &__txt {
    margin-right: 0;
    margin-left: auto;
    padding-top: 120px;

    @include mqMd {
      padding-top: 0px;
    }
  }

  &__img {
    left: -155px;
    width: 600px;
  }

  .c-ttl {
    @include mqMd {
      width: 130px;
    }
  }
}
