@charset "UTF-8";
.p-lead {
  // padding-bottom: 60px;

  &__img {
    position: relative;
    padding-bottom: 90px;
    margin-top: 150px;
    z-index: 5;

    @include mqSm {
      margin-top: 40px;
      padding-bottom: 0;
    }

    .p-lead-img__left {
      width: 650px;
      position: relative;
      left: -32px;
    }

    .p-lead-img__right {
      width: 627px;
      position: absolute;
      top: 85px;
      right: -17px;

      &--inner {
        display: block;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: -30px;
          left: 0;
          width: 100%;
          height: 30px;
          background: #fff;
        }

        &:after {
          content: "";
          position: absolute;
          top: -30px;
          left: -30px;
          width: 30px;
          height: 100%;
          background: #fff;
        }
      }
    }
  }
}
