@charset "UTF-8";
.p-mission {
  // position: relative;
  &-inner {
    position: relative;
  }

  &-side {
    position: relative;
    z-index: 1;

    @include mqMd {
      z-index: -1;
    }

    &__item {
      position: absolute;
      display: flex;
      z-index: 3;
      align-items: flex-start;
    }

    &__left {
      left: -80px;

      @include mqMd {
        left: -20px;
        top: -250px;
      }

      &--item {
        top: 600px;
        left: -120px;

        @include mqMd {
          left: 0;
          top: 0;
          width: 80px;
        }

        &:nth-child(2) {
          top: -150px;
          left: 0px;

          @include mqMd {
            top: 100px;
            left: 80px;
          }
        }
      }
    }

    &__right {
      right: -65px;

      @include mqMd {
        right: -20px;
        top: -275px;
      }

      &--item {
        right: 0;
        top: 800px;

        @include mqMd {
          right: 55px;
          top: 0;
          width: 100px;
        }

        &:nth-child(2) {
          right: -133px;
          top: 100px;

          @include mqMd {
            right: -35px;
            top: -120px;
          }
        }
      }
    }
  }
}
