@charset "UTF-8";
.p-value {
  margin-bottom: 250px;

  &-inner {
    padding-left: 22%;
    margin-top: 70px;
    position: relative;

    @include mqSm {
      padding-left: 30%;
      margin-top: 0;
    }
  }
  &-head {
    &__heading {
      &--lead {
        display: block;
        margin-bottom: 30px;
        transition: all 0.5s;
        opacity: 0;

        @include mqSm {
          img {
            width: 80px;
          }
        }
      }

      &--box {
        position: relative;
        width: 70vw;
        transform: translateY(30px);
        transition: all 1s;
        opacity: 0;

        .p-txt-cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateX(0);
          opacity: 80%;
          transition: all 2s cubic-bezier(0.42, 0, 0.23, 0.92);

          &.delay07 {
            transition-delay: 1.1s;
          }
          &.delay08 {
            transition-delay: 1.2s;
          }
          &.delay09 {
            transition-delay: 1.3s;
          }
          &.delay10 {
            transition-delay: 1.4s;
          }
        }
      }

      &--ttl {
        display: block;
        position: absolute;
        top: 0;

        img {
          width: 100%;
          height: 100%;
        }

        &:first-child {
          position: relative;
        }
      }
    }

    &.active {
      .p-value-head__heading--lead {
        opacity: 1;
      }

      .p-value-head__heading--box {
        transform: translateY(0);
        opacity: 1;
      }

      .p-txt-cover {
        transform: translateX(100%);
      }
    }
  }

  &-body {
    margin-top: 150px;
    padding: 120px;
    position: relative;
    color: #fff;
    transform: translateY(30px);
    transition: all 1s;
    opacity: 0;

    @include mqSm {
      padding: 0;
      margin: 0;
      margin-left: -70px;
      top: 130px;
    }

    &__box {
      position: relative;
      z-index: 2;
      font-size: 13px;
      line-height: 2.2;

      @include mqSm {
        background-image: url(/image/img_recruiting_statement.jpg);
        font-size: 12px;
        padding: 50px 30px;
      }
    }

    &__heading {
      font-size: 32px;
      letter-spacing: 0.1em;
      margin-bottom: 50px;
      line-height: 1;

      @include mqSm {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

    &__txt {
      letter-spacing: 0.02em;

      + .p-value-body__txt {
        margin-top: 30px;

        @include mqSm {
          margin-top: 20px;
        }
      }
    }

    &__bg {
      // &:before {
      // content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-image: url("/image/img_recruiting_statement.jpg");
      background-size: 125%;
      background-position: top 43% right 49%;
      background-repeat: no-repeat;
      // }
    }

    &__gray {
      width: 100%;
      height: 200px;
      background: #f9f9f9;
      position: absolute;
      top: -65px;
      z-index: -1;
    }

    &.active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    height: 100%;
    margin-top: -70px;
    margin-left: -0.4%;
    overflow: hidden;

    @include mqSm {
      width: 20.5%;
      height: 100vw;
      margin-top: -30px;
    }

    &__cover {
      width: 66%;
      position: absolute;
      z-index: 3;
      top: -1px;

      @include mqSm {
        width: 100%;
      }
    }

    &__inner {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 66%;
      height: 100%;

      @include mqSm {
        width: 100%;
      }
    }
  }

  &-bar {
    position: absolute;
    width: 1px;
    height: 50px;
    background: $color-pink;
    top: 44%;
    right: 65px;
    z-index: 5;
    animation: 2s linear infinite forwards running expansion;
  }

  @keyframes expansion {
    0% {
      transform-origin: top;
      transform: scale(0);
    }
    50% {
      transform-origin: top;
      transform: scale(1);
    }
    51% {
      transform-origin: bottom;
      transform: scale(1);
    }
    100% {
      transform-origin: bottom;
      transform: scale(0);
    }
  }
}
