@charset "UTF-8";
/***********
* nav
************/
/*transition & delay*/
.transition10 {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.transition101 {
  transition: opacity 0.7s ease;
}
.delay01 {
  transition-delay: 0.5s;
}
.delay02 {
  transition-delay: 0.55s;
}
.delay03 {
  transition-delay: 0.6s;
}
.delay04 {
  transition-delay: 0.65s;
}
.delay05 {
  transition-delay: 0.7s;
}
.delay06 {
  transition-delay: 0.75s;
}

.l-gnav {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  opacity: 0;

  &-right {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100%;
    right: 0;
    // opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  &-body {
    padding-left: 60px;

    @include mqMd {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    &__list {
      &--item {
        font-size: 22px;
        font-weight: 700;
        margin: 35px 0;
        opacity: 0;
        letter-spacing: 0.04em;

        @include mqMd {
          font-size: 26px;
          margin: 20px 0;
        }

        &:last-child {
          font-size: 14px;
          margin-top: 50px;
        }
      }
    }
  }

  &-left {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &__inner {
      width: calc(100% - 340px);
      height: 100%;
      position: relative;
    }

    .l-gnav-thumb {
      img {
        position: absolute;
      }
    }
  }
}

.l-gnav.on {
  display: block;
  z-index: 90;
  opacity: 1;

  .l-gnav-right {
    opacity: 1;
    width: 340px;

    @include mqMd {
      width: 100%;
    }
  }

  .l-gnav-body__list--item {
    opacity: 1;
  }

  .l-gnav-left {
    opacity: 1;
    // width: calc(100% - 340px);

    @include mqMd {
      width: 0;
      opacity: 0;
    }
  }
}
